	#content{
        width: 600px;
        height: 420px;
        margin: 100px auto;
        font-size: 20px;
        border-radius: 2px;
        border:1px solid #dadada;
	}
    ul{
        margin:0;
        padding:0;
    	list-style: none;
        width: 600px;
        height: 50px;
        display: block;
        border-bottom: 1px solid #dadada;    /*灰色*/
    }
    li{
        width: 300px;
        height: 50px;
        float: left;
        text-align: center;
        background:#ededed;
        border-top: 2px solid #ededed;     /*浅灰*/
    }  
    a{
    	line-height: 50px;
    	color: #707070;                     /*字体颜色为黑灰色*/
    	text-decoration: none;
    	font-size: 20px;
    	font-weight: 600;
    }
    #li1{
        background:#fff;
        border-top:2px solid #ff7200;      /* li选项卡顶部颜色为浅绿色*/   
    }
    #a1{
        color:#ff7200;                      /*字体颜色与选项卡颜色一致*/
    }
    a:hover,a:visited{
		text-decoration: none;
    }
    .liDiv{
    	clear:left;
    	margin:40px auto;
    	width:400px;
    }
    .liDiv label{
		font-size: 16px;
		color:#666;
		font-weight: bold;
    }
    .liDiv input{
    	width: 220px;
    	height: 28px;
   		margin-left: 10px;
     	border:1px solid #d5d5d5;
   		border-radius: 4px;
    	text-indent: 5px; 
    }
    .sellerContent{
		width: 350px;
		height: 50px;
		line-height: 50px;
		margin-left: 50px;
    }
    input[type="button"]{
	    width:220px;
	    height:35px;
	    color:#fff;
	    border-radius:4px;
	    font-weight:600;
	    background:#ff7200;
	    border:1px solid #ff7200;
	    margin:10px 112px;
	}
	input[name="nameShop"],input[name="nameSeller"],input[name="pswdSeller1"],input[name="pswdSeller2"]{
		margin-left: 26px;
	}
	input[type="button"]:hover{ 
		background:#ff7200;
		border:1px solid #ff7200;
	} 